
*.pyc
/*.pyc
*/*.pyc
*.DS_Store
*.idea
*.vscode
*.git
*/.DS_Store
*/.idea
*/__pycache__
*/*/__pycache__
dump.rdb

.vscode
*.pid
*.log
*.zip
*.swp
/drf_bilibili/static/
/drf_bilibili/apps/*/migrations/
